<div class="header-poster">
  <% if @movie.photos.attached? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @movie.photos.first.key %>);">
      <div>
        <i class="far fa-heart show-heart transition" id="add-favorite"></i>
        <h1><%= @movie.title %></h1>
      </div>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path("unknown_mn7pzj.png") %>);">
      <div>
        <h1><%= @movie.title %></h1>
      </div>
    </div>
  <% end %>
  <div class="container">
    <div class="movie-infos">
      <div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if @movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
      </div>
      <div class="key-elements">
        <p><%= @movie.category %> (<%= @movie.duration %>)</p>
        <p>Director: <span><%= @movie.director %></span> </p>
        <p>Cast:<span><%= @movie.cast %></span></p>
      </div> <!-- key-elements -->
      <div class="movie-description">
        <p><%= @movie.description %></p>
      </div>
    </div> <!-- movie-infos -->
  </div> <!-- container -->
  <div><%= render 'shared/showtimes_cards' %></div>
</div> <!-- header-poster -->
