<div class="header-poster">
  <% if @movie.photos.attached? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @movie.photos.first.key %>);">
      <div>
        <h1><%= @movie.title %></h1>
      </div>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path("unknown_mn7pzj.png") %>);">
      <div>
        <h1><%= @movie.title %></h1>
      </div>
    </div>
  <% end %>
  <div class="container">
    <div class="movie-infos">
      <div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if @movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
      </div>
      <div class="key-elements">
      <p><%= @movie.category %> (<%= @movie.duration %>)</p>
      <p>Director: <span><%= @movie.director %></span> </p>
      <p>Cast:<span><%= @movie.cast %></span></p>
      </div>
      <div class="movie-description">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <h2 style="text-align: center">Showtimes around you</h2>
    <div class="movie-showtimes">
      <div class="card">
        <% @theaters.each do |theater| %>
         <h5 class="card-header"><%= theater.name %></h5>
          <% theater.showtimes.where(movie_id: @movie.id).each do |showtime| %>
          <div class="card-body" data-toggle="modal" data-target="#showtimesModal-<%=showtime.id%>">
            <h5 class="card-title"><%= showtime.start_hour.strftime("%Hh%M") %> - <%= showtime.end_hour.strftime("%Hh%M") %></h5>
            <p class="card-text"><%= showtime.empty_seats %> empty seats</p>
            <p class="card-text"><%= showtime.price %> € (/seat)</p>
            <p class="card-text"><%= theater.distance_to([session[:latitude], session[:longitude]])%>km</p>
          </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

<!-- Modal -->

<% @theaters.each do |theater| %>
  <% theater.showtimes.where(movie_id: @movie.id).each do |showtime| %>
    <div class="modal fade" id="showtimesModal-<%= showtime.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= @movie[:title] %></h5>
          </div>
          <div class="modal-body">
            <p><%= showtime.empty_seats %> empty seats</p>
            <p><%= showtime.price %> € (/seat)</p>
            <%= showtime.start_hour %>
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <svg class="octicon octicon-dash" viewBox="0 0 8 16" version="1.1" width="8" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 7v2h8V7H0z"/></svg>
                </button>
              </span>
              <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                  <svg class="octicon octicon-plus" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"/></svg>
                </button>
              </span>
            </div>
            <div class="number-seats">
            </div>
            <div class="total-price">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Book</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

