<div class="header-poster">
  <% if @movie.photos.attached? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @movie.photos.first.key %>);">
      <div>
        <h1><%= @movie.title %></h1>
      </div>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path("unknown_mn7pzj.png") %>);">
      <div>
        <h1><%= @movie.title %></h1>
      </div>
    </div>
  <% end %>
  <div class="container">
    <div class="movie-infos">
      <div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if @movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
      </div>
      <div class="key-elements">
      <p><%= @movie.category %> (<%= @movie.duration %>)</p>
      <p>Director: <span><%= @movie.director %></span> </p>
      <p>Cast:<span><%= @movie.cast %></span></p>
      </div>
      <div class="movie-description">
        <p><%= @movie.description %></p>
      </div>
    </div>
    <h2 style="text-align: center">Showtimes around you</h2>
    <div class="movie-showtimes">
      <div class="card" data-toggle="modal" data-target=".bd-example-modal-sm">
        <h5 class="card-header"><%= @theater.name %></h5>
        <% @showtimes.each do |showtime| %>
          <div class="card-body">
            <h5 class="card-title"><%= showtime.start_hour %> - <%= showtime.end_hour %></h5>
            <p class="card-text"><%= showtime.empty_seats %></p>
            <p class="card-text"><%= showtime.price_per_seat %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Small modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

