<%= link_to movie_path(movie) do %>
  <div class="card-trip">
    <% if movie.photos.attached? %>
      <div class="card-photo-area">
        <%= cl_image_tag movie.photos.first.key, width: 150, height: 225, crop: "fill" %>
          <i class="far fa-heart index-heart transition" id="add-favorite"></i>
      </div>
    <% else %>
      <%= cl_image_tag("unknown_mn7pzj.png", :width=>150, :crop=>"scale") %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h3><%= movie.title %></h3>
        <div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
        </div>
      <p class="card-trip-pricing">A partir de <%= movie.showtimes.map { |showtime| showtime.price }.min %> €</p>
      </div>
    </div>
  </div>
<% end %>
