<%= link_to movie_path(movie) do %>
  <div class="card-trip">
    <% if movie.photos.attached? %>
      <div class="banner-index" style="background-image: url(<%= cl_image_path movie.photos.first.key %>);">
        <%= cl_image_tag movie.photos.first.key, width: 304, height: 304, crop: :thumb, gravity: :face %>
        <i class="far fa-heart" id="add-favorite"></i>
      </div>
    <% else %>
      <%= cl_image_tag("unknown_mn7pzj.png", :width=>304, :crop=>"scale") %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h3><%= movie.title %></h3>
        <div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
        </div>
      </div>
    <p class="card-trip-pricing">From <%= movie.showtimes.map { |showtime| showtime.price }.min %> €</p>
    </div>
  </div>
<% end %>
