<%= link_to movie_showtime_path(showtime.movie_id, showtime) do %>
  <div class="card-trip">
      <% t = (showtime.start_hour - Time.now) %>
      <% h = Time.at(t).utc.strftime("%Hh%M") %>
     <div class="ribbon-yellow">
      <p><span class="dans">Dans</span> <%= h %></p>
    </div>
    <% if showtime.movie.photos.attached? %>
      <div class="card-photo-area">
        <%= cl_image_tag showtime.movie.photos.first.key, width: 220, height: 330, crop: "fill" %>
          <i class="far fa-heart index-heart transition" id="add-favorite"></i>
      </div>
    <% else %>
      <%= cl_image_tag("unknown_mn7pzj.png", :width=>220, :crop=>"scale") %>
    <% end %>
    <div class="showtime-infos">
        <h3><%= showtime.movie.title %></h3>
        <p class="showtime-pricing"><%= showtime.price_cents / 100 %>€/fauteuil</p>
        <span class="distance-cine"><i class="far fa-compass"></i><%= (showtime.theater.distance_to([session[:latitude], session[:longitude]])).round(1)%>km</span>
    </div>
  </div>
<% end %>
