<div class="container">
  <% if action_name == "show" %>
    <div class="navbar navbar-expand-sm navbar-transparent">
  <% else %>
    <div class="navbar navbar-expand-sm navbar-light">
  <% end %>
    <% if action_name == "show" %>
      <%= link_to movies_path(lng: session[:longitude], lat:  session[:latitude]) do %>
        <i class="arrow fas fa-arrow-left"></i>
      <% end %>
    <% end %>
    <% unless session[:latitude].nil? %>
      <% search = Geocoder.search([session[:latitude].to_f, session[:longitude].to_f]).first %>
      <% unless search.nil? %>
        <% if action_name == "show" %>
          <p class="p-show"><%= search.suburb %> - <%= search.city %></p>
        <% else %>
          <p><%= search.suburb %> - <%= search.city %></p>
        <% end %>
      <% end %>
    <% end %>
    <% if action_name == 'show' %>
    <% else %>
      <button class="navbar-toggler" id='navbarDropdown' type="button" data-toggle="dropdown" aria-haspopup="true" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/movies">Home</a>
        <a class="dropdown-item" href="/favorite">Favorite movies</a>
      </div>
    <% end %>
  </div>
</div>

