<div class="movie-showtimes">
  <div class="card">
    <% @showtimes.each do |showtime| %>
      <h5 class="card-header"><%= @theater.name %></h5>
      <div class="card-body" data-toggle="modal" data-target="#showtimesModal-<%=showtime.id%>">
        <h5 class="card-title"><%= showtime.start_hour.strftime("%Hh%M") %> - <%= showtime.end_hour.strftime("%Hh%M") %></h5>
        <p class="card-text"><%= showtime.empty_seats %> empty seats</p>
        <p class="card-text"><%= showtime.price %> € (/seat)</p>
      </div>
    <% end %>
  </div>
</div>


<!-- Hello
 -->
