  <% @movie.theaters.each do |theater| %>
    <div class="showtime-card">
      <div class="showtime-title">
        <h5><%= theater.name %>
      </div>
      <% theater.showtimes.where(movie_id: @movie.id).each do |showtime| %>
        <div class="showtime-body" data-toggle="modal" data-target="#showtimesModal-<%=showtime.empty_seats %>">

          <div class="flex-item">
            <span class="seats"><%= showtime.empty_seats %></span> fauteuils
          </div>

          <div class="flex-item">
            <h5><%= showtime.start_hour.strftime("%Hh%M") %></h5>
          </div>

          <div class="flex-item">
            <p>
            <span><del><%= showtime.initial_price %>€</del></span></p>
            <span><%= showtime.price %> €</span>
            <p></i><%= (theater.distance_to([session[:latitude], session[:longitude]])).round(1)%>km</p>
          </div>
        </div>
        <div><%= render partial: 'shared/modal', locals: { showtime: showtime, title: @movie[:title] } %></div>
      <% end %>
    </div>
  <% end %>

