<div class="movie-showtimes">
  <div class="card">
    <% @theaters.each do |theater| %>
      <h5 class="card-header"><%= theater.name %></h5>
      <% theater.showtimes.where(movie_id: @movie.id).each do |showtime| %>
      <div class="card-body" data-toggle="modal" data-target="#showtimesModal-<%=showtime.id%>">
        <h5 class="card-title"><%= showtime.start_hour.strftime("%Hh%M") %> - <%= showtime.end_hour.strftime("%Hh%M") %></h5>
        <p class="card-text"><%= showtime.empty_seats %> empty seats</p>
        <p class="card-text"><%= showtime.price * 100 %> € (/seat)</p>
        <p class="card-text"><%= theater.distance_to([session[:latitude], session[:longitude]])%>km</p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
