<div class="container-conf">
  <div class="row">
    <div class="col">
      <div class="cardconf fl-left">
        <div class="date">
         <time datetime="23th feb">
          <% time = Time.new %>
          <%= "6 décembre 2019" %>
        </time>
        </div>
        <div class="cardconf-cont">
          <div class="conf-header">
            <small><%= @order.showtime.movie.category %></small>
            <h3><%= @order.showtime.movie.title %></h3>
          </div>
          <div class="even-date">
           <i class="fa fa-calendar"></i>
           <time>
             <span class="hours"> de <%= @order.showtime.start_hour.strftime("%Hh%M") %> à <%= @order.showtime.end_hour.strftime("%Hh%M") %></span>
           </time>
          </div>
          <div class="even-info">
            <i class="fa fa-map-marker"></i>
            <p>
              <span class="theater-name"><%= @order.showtime.theater.name %></span>, <%= Geocoder.search([@order.showtime.theater.latitude, @order.showtime.theater.longitude]).first.suburb %>
            </p>
          </div>
          <div class="qr-code">
            <img src="https://res.cloudinary.com/ddlesqeup/image/upload/v1575130254/frame_y9e6j6.png" width="150px" alt="">
          </div>
          <div class="add-wallet">
            <%= link_to order_pass_path(@order) do %>
              <%= render './shared/add_wallet_badge' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
