<div class="banner-showtime" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @showtime.movie.photos.first.key, height: 350 %>);">
  <div class="container">
    <h2><%= @showtime.movie.title %></h2>
    <p><div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if @showtime.movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
      </div></p>
    <p>Réalisateur : <%= @showtime.movie.director %> <br>Casting : <%= @showtime.movie.cast %> </p>
    <p><%= @showtime.movie.description %></p>
  </div>
</div>

<div class="container">
  <div class="card-showtime">
    <%= cl_image_tag @showtime.theater.photo.key, width: 150, height: 225, crop: "fill" %>
    <div class="card-showtime-infos">
      <h2><%= @showtime.theater.name %></h2>
      <p></i><%= @showtime.start_hour.strftime("%Hh%M") %></p>
      <p><del><%= @showtime.initial_price %>€</del><%= @showtime.price %>€</p>
      <p>500m</p>
      <p><a class="btn btn-flat-showtime-show" href="#">Book now</a></p>
    </div>
  </div>
</div>

  <h2>Autres séances</h2>

  <div class="container">
    <% @theaters.each do |theater| %>
      <% if theater.showtimes.where(movie: @showtime.movie).count > 0 %>
        <div class="card-showtime">
          <%= cl_image_tag @showtime.theater.photo.key, width: 150, height: 225, crop: "fill" %>

          <div class="card-showtime-infos">
            <%= theater.name %>
            <% theater.showtimes.where(movie: @showtime.movie).each do |showtime| %>
                <p><span class="seats"><%= showtime.empty_seats %></span> fauteuils</p>
                <h5><%= showtime.start_hour.strftime("%Hh%M") %></h5>
                <p>
                <span><del><%= showtime.initial_price %>€</del></span></p>
                <span><%= showtime.price %> €</span>
                <p></i><%= (theater.distance_to([session[:latitude], session[:longitude]])).round(1)%>km</p>
            </div>
          <% end %>
        <% end %>
       </div> <!-- showtime-card -->
    <% end %>
  </div>



