<div class="banner-showtime" style="background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url(<%= cl_image_path @showtime.movie.photos.second.key, height: 250 %>);">
  <div class="container">
    <h2><%= @showtime.movie.title %></h2>
    <p><div class="list-group">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if @showtime.movie.rating.round > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
              <% count += 1 %>
            <% end %>
          </small>
      </div>
    </p>
    <p>Réalisateur : <%= @showtime.movie.director %> <br>Casting : <%= @showtime.movie.cast %> </p>
    <p><%= @showtime.movie.description %></p>
  </div>
</div>

<div class="container">
  <div class="" data-toggle="modal" data-target="#showtimesModal-<%=@showtime.empty_seats %>"> <!-- à mettre sur le bouton réserver -->
    <div class="card-showtime">
      <%= cl_image_tag @showtime.theater.photo.key, width: 150, height: 225, crop: "fill" %>
      <div class="card-showtime-infos">
        <h2><%= @showtime.theater.name %></h2>
        <div class="flex-card">
          <p><i class="far fa-clock"></i> <%= @showtime.start_hour.strftime("%Hh%M") %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= (@showtime.theater.distance_to([session[:latitude], session[:longitude]])).round(1)%>km</p>
        </div>
        <h3><%= @showtime.price %>€ </h3>
        <del><%= @showtime.initial_price %>€</del>
        <p><i class="fas fa-couch"></i> <%= @showtime.empty_seats %> places restantes</p>
      </div>
    </div>
  </div>
  <div><%= render partial: 'shared/modal', locals: { showtime: @showtime, title: @showtime.movie.title } %></div>


  <h2>Autres séances</h2>

    <% @theaters.each do |theater| %>
      <% if theater.showtimes.where(movie: @showtime.movie).count > 0 %>
        <div class="card-showtime">
          <%= cl_image_tag theater.photo.key, width: 150, height: 225, crop: "fill" %>

          <div class="card-showtime-infos">
           <h2><%= theater.name %></h2>
           <div class="flex-card">
            <% theater.showtimes.where(movie: @showtime.movie).each do |showtime| %>
                <p><%= showtime.start_hour.strftime("%Hh%M") %></p>
                <p><%= (theater.distance_to([session[:latitude], session[:longitude]])).round(1)%>km</p>
            </div>
                <h3><%= showtime.price %> €</H3>
                <del><%= showtime.initial_price %>€</del>
                <p><i class="fas fa-couch"></i> <%= showtime.empty_seats %> places restantes</p>
            </div>
          <% end %>
        <% end %>
       </div> <!-- showtime-card -->
    <% end %>
  </div>
<script src="https://js.stripe.com/v3/"></script>


