<div class="showtime-infos">
  <div class="theater-photo">
    <%= cl_image_tag @showtime.theater.photo.key, width: 150, height: 225, crop: "fill" %>
  </div>
  <div class="showtime-description">
    <p><%= @showtime.theater.name %></p>
    <p><%= @showtime.start_hour.strftime("%Hh%M") %></p>
    <p><%= @showtime.price %></p>
    <a class="btn btn-flat" href="#">Book now</a>

  </div>
</div>

<div class="showtime-movie">
  <div class="flex">
    <div class="s-movie-photo">
      <%= cl_image_tag @showtime.movie.photos.first.key, width: 100, height: 150, crop: "fill" %>
    </div>
    <div>
      <p><%= @showtime.movie.title %></p>
      <p>Réalisateur : <%= @showtime.movie.director %></p>
      <p>Casting : <%= @showtime.movie.cast %></p>
    </div>
  </div>
  <p><%= @showtime.movie.rating %></p>
  <p><%= @showtime.movie.description %></p>
</div>

Autres séances

<div class="other-showtimes">
  <% @theaters.each do |theater| %>
    <% if theater.showtimes.where(movie: @showtime.movie).count > 0 %>
      <%= theater.name %>
      <% theater.showtimes.where(movie: @showtime.movie).each do |showtime| %>
        <%= showtime.start_hour.strftime("%Hh%M") %>
      <% end %>
    <% end %>
  <% end %>
</div>

